<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebviewAndViewpager"
        tools:targetApi="31">



        <activity
            android:name=".Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".PengembalianActivity"
            android:exported="false" />
        <activity
            android:name=".PengambilanActivity"
            android:exported="false" />
        <activity
            android:name=".lokasiActivity"
            android:exported="false" />
        <activity
            android:name=".pesananActivity"
            android:exported="false" />
        <activity
            android:name=".orderActivity"
            android:exported="false" />
        <activity
            android:name=".homePageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".daftarActivity"
            android:exported="false" />
        <activity
            android:name=".masukActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6L5agih_rBkbB9lRZbwyL_J_0dU9fZA4" />
    </application>

</manifest>